extends layout

block content
  p Hi, my name is Tom and this is my website
  
  p.
    It's pretty barebones for now, but I hope you like it!
    I just wrote this page to test boostrap integration.
