extends layout

block content
  h3 Hello World!

  p
    | I'm Tom, a computer science student at the University of Cambridge.
    | This is website is simply a place for me to put a lot of my stuff, 50% portfolio, 50% my experimental stuff, 50% social media and 100% strange.  

  p
    | My interests include but are not limited to, programming, gaming, rock-climbing, eating, sleeping, socialising, running and procrastinating.

  p
    | I'm one of the six founders of 
    a("https://www.hackcambridge.com") Hack Cambridge
    | , a Microsoft Student Partner Editor

  p
    | You can find my CV 
    a(href = "/cv.pdf", target = "_blank") here
    | .
