extends layout

block content
  script(async src='https://static.medium.com/embed.js')
  a(class='m-profile' href='https://medium.com/@Moosichu' data-width='100%' data-border='false') Tom Read-Cutting
