body {

}

a {

}

.dropdown-menu > li > a {
    padding: 3px 10px;
}

.social_media svg {
  width: 15px;
}

.social_media svg path {
  fill: #000055;
  transition: 0.3s;
}

a:hover .social_media svg path {
  fill: #5555FF;
}
